*{
  margin:0;
  padding:0;
  font-family:Assistant,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
  display:flex;
  background-color: white;
  height:80px;
  justify-content: space-between;
  align-items:center;
  border-bottom:3px solid #cccccf;
  background-color: rgb(54, 127, 245);
}
.Medigency-icon{
  height:36px;
  width:53px;
  text-decoration: none;
  color: black;
}
.logo_container{
  margin-left:4%;
}
.margin_bar{
  margin-right:4%;
}
.nav_bar{
  display:flex;
  min-width:500px;
  justify-content: space-evenly;
}
.nav_bar a{
  font-size: 14px;
  letter-spacing: 0.3px;
  color:#282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 32px 0;
}
.nav_bar a:hover{
  border-bottom: 3px solid rgb(33, 34, 34);
}
.login a{
  font-size: 14px;
  letter-spacing: 0.3px;
  color:#282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 30px 0;
  
}
.login a:hover{
  border-bottom: 3px solid rgb(33, 34, 34);
}

.Register-button{
  
  width: 190px;
  font-size: 20px;
  height: 50px;
  margin-right:100px ;
  color: black;
  border-radius: 30px;
  background-color: rgb(48, 225, 48);
  padding: 5px;
}
.info1{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.info{
  display: flex;
  justify-content: space-around;
  
}
.banner_container{
  margin:40px 0;
}
.banner_image{
  width:100%;
  height:350px;
  border-radius: 50px;
}
.banner_decription{
  margin-top: 150px;
  text-align: left;
  font-style: Bold;
  font-size:20px;
  color: black;
}
.banner_decription h3{
  height: 34px;
  width: 135px;
  color: green;
}
.info-p{
  color: gray;
}
.Register-button1{
  width: 120px;
  font-size: 15px;
  height: 30px;
  margin-top: 5px;
  margin-right: 170px;
  color: white;
  border-radius: 20px;
  background-color: rgb(29, 179, 234);
  padding: 2px;
}
body{
  background-color: rgb(199, 247, 247);
}

.count{
  margin-left: 600px;
  display: flex;
  justify-content: space-around;
}
.icons{
  font-size: 50px;
  color: rgb(77, 15, 190);
}
.Doctors,
.Clinics,
.Specialist
{
  display: flex;
  justify-content: space-around;
}
.detail1{
  text-align: left;
  margin-top: 2px;
  margin-left: 20px;
}
.detail1 p{
  color: green;
  font-size: 30px;
}
.pic{
  border-radius: 20px;
  height: 400px;
  width: 350px;
}
.description{
  display: flex;
  justify-content: space-between;
}
.item{
  margin-top: 40px;
  margin-right: 30px;
}

.item1 p{
  font-size: 40px;
}
.bold1{
  color: rgb(164, 160, 160);
  font-size: 60px;
}
.bold2{
  color: black;
  font-size: 60px;
}
.item2{
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.bot1{
  font-size: 25px;
  color: rgb(6, 103, 148);
}
.bot2{
  margin-top: 20px;
}
.bot-icon{
  height: 90px;
  width: 90px;
  border-radius: 50%;
}
.item3{
  margin-top: 5px;
}


#our-services{
  width: 100%;
  background-color: #f5f7fb;
  margin: 50px auto 0px auto;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}
.services-heading-text strong{
  color: #014dd5;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.services-heading-text h2{
  font-size: 2.2rem;
  color: #122853;
  font-weight: 700;
  max-width: 600px;
}
.service-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 350px;
  border: 5px solid #ffffff;
  padding: 30px;
  background-color: #f8d4ff;
}
.service-box:hover{
  border: 5px solid #c7d0eb;
}
.service-box .tooth{
  font-size: 2rem;
  color: #122853;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-box strong{
  color: #122853;
  font-size: 1.4rem;
  margin-top: 20px;
}
.service-box p{
  color: #122853;
  font-size: 0.9rem;
  line-height: 1.4rem;
  display: -webkit-box;
  -webkit-line-clamp:3;
  -webkit-box-orient: vertical;
  overflow:hidden;
}
.service-box a{
  height: 45px;
  background-color: #122853;
  color: #ffffff;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 5px;
  margin-top: 30px;
}
.s-box1{
  background-color: #ecf6fd;
}
.s-box1 i{
  background-color: #d4e2ff;
}

.s-box2{
  background-color: #edfff3;
}
.s-box2 i{
  background-color: #d4ffe1;
}
.s-box3{
  background-color: #fff0ee;
}
.s-box3 i{
  background-color: #ffdad4;
}
.s-box4{
  background-color: #fcffcf;
}
.s-box4 i{
  background-color: #faf4b8;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#our-services{
  background-color: rgb(199, 247, 247);
}
.feedback-heading{
  color: #122853;
  font-size: 20px;
  margin-bottom: 30px;
  margin-right: 700px;
}
#feedback{
  box-sizing: border-box;
  background-color: rgb(199, 247, 247);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
  margin-bottom: 50px;
}
.panel-container{
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  max-width: 400px;
  text-align: center;
  border-radius: 1%;
  flex-direction: column;
}
.panel-container strong{
  line-height: 20px;
}
.panel-container p{
  margin: 25px 0;
  line-height: 20px;
}
.rating-container{
  display: flex;
  margin: 20px 0;
}
.rating{
  cursor: pointer;
  flex: 1;
  padding: 20px;
  margin: 10px 5px;
  background-color: rgba(247, 155, 7, 0.3) ;
  border-radius: 2px;
}
.rating.active,.rating:hover{
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.rating img{
  width: 40px;
}
.btn{
  background-color: #302;
  color: #c7d0eb;
  border-radius: 3px;
  font-size: 15px;
  padding: 10px;
}
.rating1{
  margin-top: 30px;
}

#About-us{
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.why-choose-us-left{
  padding: 45px;
  background-color: #3c8167;
}
.why-choose-us-right{
  padding: 50px;
  background-color: #4c71d0;
}
.why-choose-us-left h3,
.why-choose-us-right h3{
  font-size: 2.6rem;
  color: #ffffff;
  font-weight: 600;
}
.why-choose-box-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  grid-gap:10px;
}
.why-choose-box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 14px;
  background-color: #4a8a70;
}
.why-choose-box .para{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-right: 20px;
  color: #ffffff;
  font-size: 20px;
}
.why-choose-box-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}
.why-choose-box-text strong{
  color: #ffffff;
  font-weight: 600;
}
.why-choose-box-text p{
  color: #ececec;
  font-size: 0.6rem;
  opacity: 0.7;
}
.why-choose-us-btn{
  background-color: #1a1a1b;
  color: #ffffff;
  padding: 0px 10px;
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  max-width: 200px;
  margin-top: 30px;
  font-size: 0.9rem;
  text-decoration: none;
}
.why-choose-us-right p{
  color: #dfdfdf;
  font-size: 0.8rem;
  line-height: 1.4rem;
}
.w-right-contact-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.w-right-contact-box{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.w-right-contact-box i{
  width:50px ;
  height: 50px;
  background-color: #4060b3;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.2rem;
  margin-right: 10px;
}
.w-right-contact-box-text{
  display: flex;
  flex-direction: column;
}
.w-right-contact-box-text span{
  color: #e4e4e4;
  font-size: 0.7rem;
}
.w-right-contact-box-text strong{
  font-size: 1rem;
  color: #ffffff;
  font-weight: 600;
}
footer{
  width: 100%;
  background-color: #f5f7fb;
}
.footer-container{
  padding: 50px 0px;
  max-width: 1200px;
  width: 90%;
  padding: 50px 0px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-company-box{
  max-width: 330px;
}
.footer-company-box a{
  text-decoration: none;
}
.footer-company-box p{
  color: #585858;
  margin: 5px 0px;
  font-size: 0.9rem;
  line-height: 1.4rem;
  letter-spacing: 0.3px;
}
.footer-social{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.footer-social a{
  margin-top: 10px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e9e9e9;
  color: #333333;
  font-size: 0.9rem;
  transition: all ease 0.3s;
  
  border: black solid;
}
.footer-social a:hover{
  color: #ffffff;
  background-color: #122853;
}
.footer-link-box strong{
  color: #122853;
  font-size: 1.2rem;
  font-weight: 600;
}
.footer-link-box ul{
  margin-top: 5px;
  list-style-type: none;
}
.footer-link-box ul li a{
  color: #585858;
  font-size: 0.9rem;
  margin-bottom: 5px;
  display: flex;
  text-decoration: none;
}
.footer-link-box ul li a:hover{
  color: #122853;
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap:10px;
  border-top:1px solid #e9e9e9;
  padding: 20px 0px;
  max-width: 1200px;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}
.footer-bottom span{
  color: #252525;
  font-size: 0.9rem;
}